<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.saraha.paws">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <queries>
        <package android:name="com.whatsapp" />
        <package android:name="com.facebook.katana" />
        <package android:name="com.instagram.android" />
        <package android:name="sa.com.stcpay" />
    </queries>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Project_Tuwaiq"
        android:usesCleartextTraffic="true">
        <activity
            android:name="com.saraha.paws.View.AccountViews.EditProfile.EditProfileActivity"
            android:exported="true" />
        <activity
            android:name="com.saraha.paws.View.CharityViews.ViewCharityDetail.ViewCharityDetailActivity"
            android:exported="true" />
        <activity
            android:name="com.saraha.paws.View.AnimalViews.ViewAnimalDetail.ViewAnimalDetailsActivity"
            android:exported="true" />
        <activity
            android:name="com.saraha.paws.View.CharityViews.AddEditCharity.AddEditCharityActivity"
            android:exported="true" />
        <activity
            android:name="com.saraha.paws.View.AnimalViews.AddEditAnimal.AddEditAnimalActivity"
            android:exported="true" />
        <activity
            android:name=".View.Home.HomeActivity"
            android:exported="true" />
        <activity
            android:name="com.saraha.paws.View.AccountViews.RegisterAccount.RegisterActivity"
            android:exported="true" />
        <activity
            android:name="com.saraha.paws.View.AccountViews.LoginAccount.LoginActivity"
            android:exported="true" />
        <activity
            android:name="com.saraha.paws.View.SplashView.Splash.MainActivity"
            android:exported="true" />
        <activity
            android:name="com.saraha.paws.View.SplashView.MainSplash.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>